/* Global common layout for pages */
body {
  margin: 0px;
  margin-right: 10px;
  margin-bottom: 40px;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 5px 0px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
 margin-right: 40px;
  display: flex;
  gap: 100px;
  margin: 15px;
  padding: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #d1e7ff;
}

/* Page-specific adjustments */
.main-content {
  padding-top: 60px; /* Adjust for fixed navbar height */
}

